:root {
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);

    --main-font: "Outfit", sans-serif;
    --title-font: "Young Serif", serif;

    --content-width: 46.125rem;
    --container-offset: 0rem;
    --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    min-width: 20rem;

    color: var(--stone-600);
    font-family: var(--main-font);
    line-height: 1.5;
    font-weight: 400;
    background-color: var(--stone-100);
}

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 0.0625rem;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 0.0625rem;
}

.list {
    margin-block: 0;
    padding-inline-start: 1.5rem;
}

.list li {
    padding-inline-start: 1rem;
}

.list li::marker {
    font-weight: 700;
}

.list li:not(:last-child) {
    margin-block-end: 0.5rem;
}

.container {
    width: 100%;
    max-width: var(--container-width);
    margin-inline: auto;
    padding-inline: var(--container-offset);
}

.title {
    margin-block: 0;
    margin-block-end: 1rem;
    color: var(--brown-800);
    font-size: 1.75rem;
    font-family: var(--title-font);
}

table {
    width: 100%;
}

td {
    width: 50%;
    padding: 0.625rem 0.5rem 0.5625rem;
}

td:nth-child(odd) {
    padding-inline-start: 1.875rem;
}

td:nth-child(even) {
    font-weight: 700;
    color: var(--brown-800);
}

tr:not(:last-child) td {
    border-bottom: 0.0625rem solid var(--stone-150);
}